<h1>Sign In</h1>

<%= form_tag("/sign_in", method: "post") do %>

    <div class="mt-4 mb-3">
        <%= label_tag(:email, "Email") %>
        <%= text_field_tag(:email, "", class: "form-control", placeholder: "name@example.com") %>
    </div>

    <div class="mb-3">
        <%= label_tag(:password, "Password") %>
        <%= text_field_tag(:password, "", class: "form-control", placeholder: "Password") %>
    </div>

    <div class="mb-3">
        <%= submit_tag("Sign In") %>
    </div>

<% end %>